assets/spurs.webp filter=lfs diff=lfs merge=lfs -text
assets/scope.svg filter=lfs diff=lfs merge=lfs -text
assets/scope.webp filter=lfs diff=lfs merge=lfs -text
assets/spurs.svg filter=lfs diff=lfs merge=lfs -text
