.Header {
	background: $dark-grey;
	color: $white;
	padding: em(150px) 0;
	text-align: center;

	&__title {
		@include heading1;
		margin-bottom: em(30px, $heading1);
	}

	&__subline {
		margin-bottom: em(50px);
	}

	&__contact {
		@include cta;
	}
}
