@keyframes slide_right {
	from {
		opacity: 0;
		transform: translateX(-100vw);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slide_left {
	from {
		opacity: 0;
		transform: translateX(100vw);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.Header {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;

	&__illustration {
		height: em($heading4);
		position: relative;
	}

	&__firstname,
	&__lastname {
		height: 100%;
	}

	&__shortname {
		fill: $blue;
	}

	&__post,
	&__lastname {
		stroke: $white;
	}

	&__halo {
		fill: $blue;
		stroke: none;
		opacity: 0;
		transition: 200ms;
	}

	&__name {
		display: inline-block;
		font-family: 'Roboto', sans-serif;
		font-size: em($heading4);
		line-height: 85%;
		-webkit-text-stroke: 1px white;
		text-transform: uppercase;
		text-align: center;
	}

	&__firstname {
		animation: 600ms slide_right ease-out;
	}

	&__lastname {
		animation: 600ms slide_left ease-out;
	}

	@media screen and (min-width: #{$breakpoint1}) {
		&__illustration {
			height: em($heading3);
		}
	}

	@media screen and (min-width: #{$breakpoint2}) {
		&__illustration {
			height: em($heading4);
			transform: translate(-50%, -50%);
		}

		&__lastname {
			left: 100%;
			position: absolute;
			top: 85%;
		}
	}

	@media screen and (min-width: #{$breakpoint3}) {
		&__illustration {
			height: em($heading3);
		}
	}

	@media screen and (min-width: #{$breakpoint4}) {
		&__illustration {
			height: em($heading2);
		}
	}

	@media screen and (min-width: #{$breakpoint5}) {
		&__illustration {
			height: em($heading1);
		}
	}

	@media (prefers-reduced-motion) {
		&__firstname,
		&__lastname {
			animation: none;
		}
	}
}
