$item-gap: 2em;

.Navigation {
	color: $white;
	display: flex;
	font-size: em(18px);
	justify-content: space-between;
	padding: em(30px);
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;

	&__nav {
		display: flex;
		font-family: 'Nunito', sans-serif;
		letter-spacing: 0.33em;
	}

	&__list {
		display: flex;
	}

	&__item {
		font-size: em(14px, 18px);
		margin-right: $item-gap;
		text-transform: uppercase;

		&:last-of-type {
			margin-right: 0;
		}
	}
}
