.Navigation {
	margin-bottom: em(20px);
	padding: em(7.5px, 13px);
	padding-bottom: 0;

	&__item {
		font-size: em(13px);
		font-weight: 600;
		letter-spacing: 0.34em;
		padding: em(4.5px, 13px);
		text-align: right;
		text-transform: uppercase;

		&:first-of-type {
			display: none;
		}
	}

	&__link {
		color: var(--color);
		display: inline-block;
		padding: em(4.5px, 13px);
	}
}
