.Portfolio {
	padding: em(70px) em(30px);

	&__item {
		margin-bottom: em(30px);
	}

	&__item-container {
		align-items: center;
		display: flex;
	}

	&__item-title {
		font-family: 'Roboto', sans-serif;
		font-size: em($heading3);
		margin-right: em(20px, $heading3);
		text-transform: uppercase;
	}

	&__item-link {
		color: transparent;
		-webkit-text-stroke: 1px white;
	}

	&__roles-role {
		display: inline-block;
		color: $light-grey;
	}
}
