.Projects {
	padding-top: 2rem;
	margin: 0 auto;
	max-width: 120rem;

	@media screen and (max-width: 1200px) {
		padding: 2rem;
	}

	&__title {
		font-weight: 900;
    font-size: 4rem;
		margin-bottom: 2rem;

		@include title;
	}

	&__item {
		margin-bottom: 3rem;
		position: relative;

		@media screen and (min-width: 720px) {
			margin-bottom: 10rem;
		}
	}

	&__item-title {
		background: var(--background-offset);
		border: 1px solid var(--color);
		border-radius: var(--border-radius);
		display: inline-block;
		font-size: 3.6rem;
		line-height: 1;
		padding: 1rem;
		position: relative;
		z-index: 2;

		@media screen and (min-width: 720px) {
			position: absolute;
			left: 0;
			top: 2rem;
		}
	}

	&__illustration {
		background-color: var(--background-color);
		border: 1px solid var(--color);
		border-radius: var(--border-radius);
		box-sizing: content-box;
		display: block;
		margin: -4rem 0 0 auto;
		overflow: hidden;
		padding-top: calc(10/16 * (100% - 2rem) - 2px);
		position: relative;
		width: calc(100% - 2rem - 2px);

		@media screen and (min-width: 720px) {
			display: inline-block;
			margin: 0;
			margin-left: 2rem;
			padding-top: calc(10/16 * 30rem - 2px);
			vertical-align: top;
			width: calc(30rem - 2px);
		}

		@media screen and (min-width: 1100px) {
			padding-top: calc(10/16 * 45rem - 2px);
			width: calc(45rem - 2px);
		}
	}

	&__img {
		height: 55%;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&__content {
		@media screen and (min-width: 720px) {
			display: inline-block;
			margin-left: 2rem;
			padding-top: 0.5rem;
			vertical-align: top;
			width: calc(100% - 34rem); // Full width - image width + image position
		}

		@media screen and (min-width: 1100px) {
			width: calc(100% - 50rem); // Full width - image width + image position
		}
	}

	&__item-blurb {
		margin-left: auto;
		margin-right: 0;
		padding: 1rem;
		padding-left: 0.5rem;
		padding-bottom: 0;
		width: calc(100% - 2rem);

		@media screen and (min-width: 720px) {
			margin: 0;
			padding: 0;
		}
	}

	&__item-link {
		display: inline-block;
		margin-left: 2.5rem;
		padding: 1rem;
		padding-left: 0;

		@media screen and (min-width: 720px) {
			margin-left: 0;
		}
	}

	&__item-external {
		height: 1em;
		margin-left: 0.5rem;
		stroke: var(--link-color);
		width: 1em;
	}
}
