html {
	font-size: $font-size;
}

body {
	background: $white;
	color: $dark-grey;
	font-family: "Montserrat", sans-serif;
	max-width: 100vw;
	overflow-x: hidden;
}

.wrapper {
	max-width: $container-width;
	margin: 0 auto;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	font-size: inherit;
}
