@import './variables.scss';
@import './mixins.scss';
@import './reset.scss';

:root {

	--ratio: 1.618;
	--font-size: 16px;
	--line-height: 1.618;

	// Colors
	--white: hsl(0, 0%, 99%);
	--black: hsl(0, 0%, 9%);
	--dark-gray: hsl(0, 0%, 11%);
	--light-gray: hsl(197, 9%, 89%);
	--turquoise: hsl(185, 100%, 50%);
	--blue: hsl(234, 61%, 50%);

	// // Headings
	// --heading5: calc(var(--font-size) * var(--ratio));
	// --heading4: calc(var(--heading5) * var(--ratio));
	// --heading3: calc(var(--heading4) * var(--ratio));
	// --heading2: calc(var(--heading3) * var(--ratio));
	// --heading1: calc(var(--heading2) * var(--ratio));

	@media (prefers-color-scheme: light) {
		--background: var(--white);
		--color: var(--black);
		--highlight: var(--blue);
		--link-color: var(--blue);
	}

	@media (prefers-color-scheme: dark) {
		--background: var(--black);
		--color: var(--white);
		--highlight: var(--turquoise);
		--link-color: var(--turquoise);
	}
}

html[data-theme='light'] {
	--background: var(--white);
	--color: var(--black);
	--highlight: var(--blue);
	--link-color: var(--blue);
}

html[data-theme='dark'] {
	--background: var(--black);
	--color: var(--white);
	--highlight: var(--turquoise);
	--link-color: var(--turquoise);
}

*, *::before, *::after {
	box-sizing: border-box;
}

html {
	font-size: var(--font-size);
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: var(--background);
	color: var(--color)
}

a {
	color: var(--link-color);
	text-decoration: none;
}

p {
	line-height: var(--line-height);
}

@import '../components/Navigation.scss';
