@import './variables.scss';
@import './mixins.scss';
@import './reset.scss';
@import './fonts.scss';

:root {
	font-size: 62.5%;

	--ratio: 1.618;
	--font-size: 1.4rem;
	--line-height: 1.618;

	// Colors
	--white: hsl(0, 0%, 99%);
	--off-white: hsl(0, 0%, 64%);
	--black: hsl(0, 0%, 9%);
	--off-black: hsl(0, 0%, 34%);
	--dark-gray: hsl(231, 15%, 18%);
	--light-gray: hsl(180, 11%, 93%);
	--turquoise: hsl(185, 100%, 50%);
	--blue: hsl(234, 61%, 50%);

	// Headings
	--heading5: calc(var(--font-size) * var(--ratio));
	--heading4: calc(var(--heading5) * var(--ratio));
	--heading3: calc(var(--heading4) * var(--ratio));
	--heading2: calc(var(--heading3) * var(--ratio));
	--heading1: calc(var(--heading2) * var(--ratio));

	// Misc
	--border-radius: 5px;

	@media (prefers-color-scheme: light) {
		--background: var(--white);
		--background-offset: var(--light-gray);
		--background-contrast: var(--dark-gray);
		--color: var(--black);
		--off-color: var(--off-black);
		--highlight: var(--blue);
		--link-color: var(--blue);
	}

	@media (prefers-color-scheme: dark) {
		--background: var(--black);
		--background-offset: var(--dark-gray);
		--background-contrast: var(--light-gray);
		--color: var(--white);
		--off-color: var(--off-white);
		--highlight: var(--turquoise);
		--link-color: var(--turquoise);
	}

	@media (min-width: 420px) {
		--font-size: 1.6rem;
	}

	@media (min-width: 900px) {
		--font-size: 1.8rem;
	}
}

html[data-theme='light'] {
	--background: var(--white);
	--background-offset: var(--light-gray);
	--background-contrast: var(--dark-gray);
	--color: var(--black);
	--off-color: var(--off-black);
	--highlight: var(--blue);
	--link-color: var(--blue);
}

html[data-theme='dark'] {
	--background: var(--black);
	--background-offset: var(--dark-gray);
	--background-contrast: var(--light-gray);
	--color: var(--white);
	--off-color: var(--off-white);
	--highlight: var(--turquoise);
	--link-color: var(--turquoise);
}

*, *::before, *::after {
	box-sizing: border-box;
}

*:focus {
	outline: none;
	box-shadow: 0 0 0 2px var(--background), 0 0 0 4px var(--color);
	border-radius: 1px;
}

html {
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: var(--background);
	color: var(--color);
	font-size: var(--font-size);
}

.noscroll {
	overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	text-transform: uppercase;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

p, li {
	line-height: var(--line-height);
}

em {
	font-style: italic;
	font-weight: 400;
}

strong {
	font-weight: 600;
}

.rte {
	max-width: 70rem;
	margin-bottom: 2rem;

	h2 {
		font-size: 2.1rem;
		margin: 4rem 0 2rem 0;
	}

	p, ul {
		margin-bottom: 1.5rem;
	}
}

#flying-focus {
	background: transparent;
	border: 1px solid var(--background);
	border-radius: var(--border-radius);
	margin: 0;
	outline: 1px solid var(--color);
	pointer-events: none;
	position: absolute;
	transition-property: left, top, width, height;
	transition-timing-function: linear;
	visibility: hidden;
}

#flying-focus.flying-focus-visible {
	visibility: visible;
	z-index: 9999;
}

.flying-focus-target {
	outline: none !important;
	box-shadow: none !important;
}

.flying-focus-target::-moz-focus-inner {
	border: 0 !important;
}


@import '../components/SkipNav.scss';
@import '../components/Navigation.scss';
