@import "./mixins";

$ratio: 1.618;
$font-size: 18px;

// Colors
$white: hsl(0, 0%, 99%);
$black: hsl(0, 0%, 9%);
$dark-gray: hsl(0, 0%, 11%);
$light-gray: hsl(197, 9%, 89%);
$turquoise: hsl(185, 100%, 50%);
$blue: hsl(234, 61%, 50%);

// Grid
$container-width: rem(1200px);

// Headings
$heading1: $font-size * ($ratio * 5);
$heading2: $font-size * ($ratio * 4);
$heading3: $font-size * ($ratio * 3);
$heading4: $font-size * ($ratio * 2);
$heading5: $font-size * $ratio;

// Sizes
$breakpoint1: 480px;
$breakpoint2: 768px;
$breakpoint3: 1024px;
$breakpoint4: 1280px;
$breakpoint5: 1920px;
