@import "./mixins";

$font-size: 18px;

// Colors
$dark-grey: #23252F;
$white: #FFF;

// Grid
$container-width: rem(1200px);

// Headings
$heading1: 78px;
$heading2: 50px;
$heading3: 18px;
$heading4: 15px;
