---
layout: DefaultLayout.njk
title: William IEHL | About
---

<main id="main-content">
	<section>
		<h2>{{ about.title }}</h2>

		<div class="rte">
			{{ about.content | safe }}
		</div>
	</section>
</main>
