---
layout: DefaultLayout.njk
title: William IEHL | Hire Me
permalink: "/hire-me/index.html"
---

<main id="main-content">
	<section>
		<h2>{{ hire.title }}</h2>

		<div class="rte">
			{{ hire.content | safe }}
		</div>
	</section>
</main>
