---
layout: DefaultLayout.njk
title: userSide
homePage: true
---

{% set parallaxJS %}
	{% include "../js/parallax.js" %}
{% endset %}

{% set header = homepage.header %}
{% include "Header.njk" %}

{% set about = homepage.about %}
{% include "About.njk" %}

{% set portfolio = homepage.portfolio %}
{% include "Portfolio.njk" %}

<script>
	{{ parallaxJS | jsmin | safe }}
</script>
