<section class="About js-about">
	<div class="About__illustration js-about-container">
		<img class="About__img js-about-img" src="/img/self.jpg" alt="me" />
	</div>

	<div class="About__blurb js-about-blurb">
		<h2 class="About__title">About me</h2>
		<p>I am a freelance developer and designer focusing on accessibility, performance, and software architecture. Some text about my belief on the role of accessibility, performance and software architecture on user experience. Followed by a link to an article called “It’s all about user experience” which would be the about page and describes these points in more details.</p>
	</div>
</section>
