<section class="About">
	<h2 class="About__title">{{ about.title }}</h2>

	<picture class="About__picture">
		<source media="(max-width: 799px)" srcset="{{ about.img.small }}">
		<source media="(min-width: 800px)" srcset="{{ about.img.large }}">
		<img class="About__img" src="{{ about.img.small }}" alt="{{ about.img.alt }}">
	</picture>

	<div class="About__content rte">
		{{ about.content | safe }}
	</div>
</section>
