<section class="Details" aria-label="My Details">
	<div class="Details__intro">
		<h2 class="Details__title">Details</h2>
		<p class="Details__description">A trusting and pleasant atmosphere are vital for any lasting partnership to be successful. Therefore I thrive to give you the best quality services possible.</p>
	</div>

	<ul class="Details__list">
		<li class="Details__item">
			{% set className = "Details__item-icon" %}
			{% set hintClassName = "Details__item-icon-hint" %}
			{% include "../img/discussion.svg" %}

			<div class="Details__item-content">
				<h3 class="Details__item-title">Free initial consultation</h3>
				<p class="Details__item-description">Free, non-binding first meeting to discuss potential solutions that fit your needs.</p>
			</div>
		</li>
		<li class="Details__item">
			{% set className = "Details__item-icon" %}
			{% set hintClassName = "Details__item-icon-hint" %}
			{% include "../img/price-tag.svg" %}

			<div class="Details__item-content">
				<h3 class="Details__item-title">Transparent pricing</h3>
				<p class="Details__item-description">No surprise costs, the price is agreed upfront based on the scope of the project.</p>
			</div>
		</li>
		<li class="Details__item">
			{% set className = "Details__item-icon" %}
			{% set hintClassName = "Details__item-icon-hint" %}
			{% include "../img/direct.svg" %}

			<div class="Details__item-content">
				<h3 class="Details__item-title">Personal care</h3>
				<p class="Details__item-description">There'll always be a direct line of communication to me so you get the best services.</p>
			</div>
		</li>
		<li class="Details__item">
			{% set className = "Details__item-icon" %}
			{% set hintClassName = "Details__item-icon-hint" %}
			{% include "../img/medal.svg" %}

			<div class="Details__item-content">
				<h3 class="Details__item-title">State of the art</h3>
				<p class="Details__item-description">Your solution is built with modern technologies following the latest industry best practices.</p>
			</div>
		</li>
	</ul>
</section>
