<section class="Details" aria-label="My Details">
	<div class="Details__intro">
		<h2 class="Details__title">Details</h2>
		<p class="Details__description">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
	</div>

	<ul class="Details__list">
		<li class="Details__item">
			{% set className = "Details__item-icon" %}
			{% set hintClassName = "Details__item-icon-hint" %}
			{% include "../img/discussion.svg" %}

			<div class="Details__item-content">
				<h3 class="Details__item-title">Free initial consultation</h3>
				<p>free, test the water, see what's possible</p>
			</div>
		</li>
		<li class="Details__item">
			{% set className = "Details__item-icon" %}
			{% set hintClassName = "Details__item-icon-hint" %}
			{% include "../img/price-tag.svg" %}

			<div class="Details__item-content">
				<h3 class="Details__item-title">Transparent pricing</h3>
				<p>Know how much you'll pay, no surprises whether I'm fast or slow</p>
			</div>
		</li>
		<li class="Details__item">
			{% set className = "Details__item-icon" %}
			{% set hintClassName = "Details__item-icon-hint" %}
			{% include "../img/direct.svg" %}

			<div class="Details__item-content">
				<h3 class="Details__item-title">Personal care</h3>
				<p>Direct line to me, nothing get's lost in translation</p>
			</div>
		</li>
		<li class="Details__item">
			{% set className = "Details__item-icon" %}
			{% set hintClassName = "Details__item-icon-hint" %}
			{% include "../img/medal.svg" %}

			<div class="Details__item-content">
				<h3 class="Details__item-title">State of the art</h3>
				<p>I'm the best</p>
			</div>
		</li>
	</ul>
</section>
