<footer class="Footer">
	<h2 class="sr-only">{{ footer.title }}</h2>

	<div class="Footer__social">
		{% set className = "Footer__social-svg" %}
		{% set classCircle = "Footer__social-circle" %}
		{% set classIcon = "Footer__social-icon" %}

		<a href="mailto:www.iehl@gmail.com" aria-label="Contact Email">
			{% include "../img/email.svg" %}
		</a>
		<a href="https://twitter.com/www_iehl" aria-label="Contact Twitter">
			{% include "../img/twitter.svg" %}
		</a>
		<a href="https://www.linkedin.com/in/william-iehl/" aria-label="Contact LinkedIn">
			{% include "../img/linkedin.svg" %}
		</a>
	</div>

	<small class="Footer__copyright">{{ footer.copyright }}</small>
</footer>
