<section class="Header">
	<div class="Header__content">
		<h1 class="Header__title">
			{% for keyword in header.title %}
				<span class="Header__keyword">{{ keyword }}</span>
			{% endfor %}
		</h1>

		<p class="Header__blurb">{{ header.blurb | safe }}</p>

		<picture class="Header__picture">
			<source
				media="(max-width: 719px)"
				srcset="
					{{ header.img.mobile.small.url }} {{ header.img.mobile.small.size }}w,
					{{ header.img.mobile.medium.url }} {{ header.img.mobile.medium.size }}w,
					{{ header.img.mobile.large.url }} {{ header.img.mobile.large.size }}w
				"
			>
			<source
				media="(min-width: 720px) and (max-width: 899px)"
				srcset="
					{{ header.img.tablet.small.url }},
					{{ header.img.tablet.medium.url }} 1.5x,
					{{ header.img.tablet.large.url }} 2x
				"
			>
			<source
				media="(min-width: 900px)"
				srcset="
					{{ header.img.desktop.small.url }},
					{{ header.img.desktop.medium.url }} 1.5x,
					{{ header.img.desktop.large.url }} 2x
				"
			>
			<img class="Header__img" src="{{ header.img.mobile.small.url }}" alt="{{ header.img.alt }}">
		</picture>
	</div>
</section>
