<button class="Navigation__menu js-menu" aria-label="Navigation menu" aria-expanded="false">
	{% set className = "Navigation__hamburger" %}
	{% include "../img/hamburger.svg" %}
</button>

<div class="Navigation js-nav" id="nav-overlay">
	<div class="Navigation__container">
		{% include "Contrast.njk" %}

		<nav class="Navigation__internal">
			<ul class="Navigation__list">
				{% for item in navigation.items %}
					<li class="Navigation__item">
						<a
							class="Navigation__link {% if page.url == item.url %}Navigation__link--active{% endif %}"
							href="{{ item.url }}"
							{% if page.url == item.url %}aria-current="page"{% endif %}
						>
								{{ item.label }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</nav>

		{% set className = "Navigation__social-svg" %}
		{% set classCircle = "Navigation__social-circle" %}
		{% set classIcon = "Navigation__social-icon" %}
		<ul class="Navigation__socials">
			<li class="Navigation__social-item">
				<a class="Navigation__social-link" href="mailto:www.iehl@gmail.com" aria-label="Contact via Email">
					{% include "../img/email.svg" %}
				</a>
			</li>
			<li class="Navigation__social-item">
				<a class="Navigation__social-link" href="https://twitter.com/www_iehl" aria-label="Contact via Twitter">
					{% include "../img/twitter.svg" %}
				</a>
			</li>
			<li class="Navigation__social-item">
				<a class="Navigation__social-link js-nav-last" href="https://www.linkedin.com/in/william-iehl/" aria-label="Contact via LinkedIn">
					{% include "../img/linkedin.svg" %}
				</a>
			</li>
		</ul>
	</div>
</div>
