<section class="Portfolio">
	<div class="Portfolio__wrapper wrapper">
		<h2 class="Portfolio__title">{{ portfolio.title }}</h2>

		<ul class="Portfolio__list">
			{% for project in portfolio.projects %}
				<li class="Portfolio__item">
					<a class="Portfolio__item-link" href="{{ project.url }}">
						<h3 class="Portfolio__item-title">{{ project.title }}</h3>
						<img
							class="Portfolio__item-img js-lazy-img"
							src="/img/placeholder.png"
							data-srcset="{{ project.img.small }} 350w, {{ project.img.medium }} 480w, {{ project.img.large }} 720w"
							sizes="(min-width: 721px) 20vw, (min-width: 1400px) calc(1400px / 4), 100vw"
							alt="{{ project.img.alt }}"
						/>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
