{% set external %}
	{% include "../img/external.svg" %}
{% endset %}

<section class="Portfolio">
	<ul class="Portfolio__list">
		{% for project in portfolio.projects %}
			<li class="Portfolio__item">
				<div class="Portfolio__item-container">
					<h3 class="Portfolio__item-title">
						<a class="Portfolio__item-link" href="{{ project.url }}" target="_blank" rel="noopener noreferrer">
							{{ project.title }}
						</a>
					</h3>
					<div>{{ external | safe }}</div>
				</div>
				<ul class="Portfolio__roles">
					{% for role in project.role %}
						<li class="Portfolio__roles-role">{{ role }}{% if not loop.last %},&nbsp;{% endif %}</li>
					{% endfor %}
				</ul>
			</li>
		{% endfor %}
	</ul>
</section>
