<section class="Projects">
	<h2 class="Projects__title">{{ projects.title }}</h2>

	<ul>
		{% for project in projects.items %}
			<li class="Projects__item">
				<h3 class="Projects__item-title">{{ project.title }}</h3>
				<div class="Projects__illustration">
					<img class="Projects__img js-lazy-img" src="/assets/placeholder.png" data-srcset="https://placekitten.com/300/400" alt="cat">
				</div>
				<div class="Projects__content">
					<p class="Projects__item-blurb">{{ project.blurb }}</p>
					<a class="Projects__item-link" href="{{ project.url }}">
						Go to Site 

						<svg
							class="Projects__item-external"
							aria-label="External link"
							fill="none"
							viewBox="0 0 21 21"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path d="M5.72727 4.5H1V20.5H17V15.7727" />
							<path d="M6.57141 14.7325L20.5 1M20.5 1V11.2113M20.5 1H10.1428"/>
						</svg>
					</a>
				</div>
			</li>
		{% endfor %}
	</ul>
</section>
