<section class="Projects">
	<h2 class="Projects__title">{{ projects.title }}</h2>

	<ul>
		{% for project in projects.items %}
			<li class="Projects__item">
				<div class="Projects__illustration">
					<img class="Projects__img js-lazy-img" src="/assets/placeholder.png" data-srcset="https://placekitten.com/300/400" alt="cat">
				</div>
				<div class="Projects__item-content">
					<h3 class="Projects__item-title">{{ project.title }}</h3>
					<p class="Projects__item-blurb">{{ project.blurb }}</p>
				</div>
			</li>
		{% endfor %}
	</ul>
</section>
