<section class="Projects" aria-label="{{ projects.title }}">
	<h2 class="Projects__title">{{ projects.title }}</h2>

	<ul class="Projects__list">
		{% for project in projects.items %}
			<li class="Projects__item">
				<h3 class="Projects__item-title">{{ project.title }}</h3>
				<div class="Projects__illustration" style="--background-color: {{ project.img.bg }}">
					<img class="Projects__img js-lazy-img" src="/assets/placeholder.png" data-src="{{ project.img.url }}" alt="{{ project.img.alt }}">
				</div>
				<div class="Projects__content">
					<p class="Projects__item-blurb">{{ project.blurb }}</p>
					<a class="Projects__item-link" href="{{ project.url }}" aria-label="Got to site (External Link)">
						Go to Site 

						{% set className = "Projects__item-external" %}
						{% include "../img/external.svg" %}
					</a>
				</div>
			</li>
		{% endfor %}
	</ul>
</section>
