<section>
	<h2 class="sr-only">{{ subscribe.title }}</h2>

	<form>
		<label for="subscribe-input">{{ subscribe.label | safe }}</label>
		<input id="subscribe-input" type="email" />

		<button type="submit">-&gt;</button>
	</form>
</section>
