<section class="Subscribe">
	<h2 class="sr-only">{{ subscribe.title }}</h2>

	<form class="Subscribe__form">
		<label class="Subscribe__label" for="subscribe-input">{{ subscribe.label | safe }}</label>

		<div class="Subscribe__field">
			<input id="subscribe-input" class="Subscribe__input" placeholder="Email" type="text" autocomplete="email" />
			<button class="Subscribe__submit" type="submit" aria-label="Submit">
				{% include "../img/arrow.svg" %}
			</button>
		</div>
	</form>
</section>
