<section class="Values" aria-label="My Values">
	<div class="Values__top-shape" aria-hidden="true">
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
			<path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"></path>
		</svg>
	</div>

	<div class="Values__container">
		<div class="Values__intro">
			<h2 class="Values__title">My Values</h2>
			<p class="Values__description">There are several concepts that dictate the quality of your digital solution. I pride myself in ensuring that both your users and yourself receive the best quality modern technologies allow.</p>
		</div>

		<ul class="Values__list">
			<li class="Values__item">
				<h3 class="Values__item-title">User Experience</h3>
				<p>I believe today's websites should reflect the modern era we live in and the needs of its large audience. This means accessibility and performance are first class UX requirements.</p>
			</li>
			<li class="Values__item">
				<h3 class="Values__item-title">Security</h3>
				<p>With more and more of our personal data stored online and our lives depending on digital systems, security has become an incrinsingly crucial part of web development to get right.</p>
			</li>
			<li class="Values__item">
				<h3 class="Values__item-title">Maintainability</h3>
				<p>It's not enough, for me, for a website to have great user experience and to be secure, that website must also be maintainable. Updates and new features shouldn't come with maintenance cost creeping up and nasty bugs creeping in.</p>
			</li>
		</ul>
	</div>

	<div class="Values__bottom-shape" aria-hidden="true">
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
			<path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"></path>
		</svg>
	</div>
</section>
