{% set flyingFocus %}
	{% include "../js/flyingFocus.js" %}
{% endset %}
{% set theme %}
	{% include "../js/theme.js" %}
{% endset %}
{% set main %}
	{% include "../js/index.js" %}
{% endset %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Hi, I'm William — a freelance Web UI engineer. I aim to make the web better for everyone alike.">

	<meta property="og:title" content="William IEHL - Freelance Developer, Accessibility and Performance advocate">
	<meta property="og:type" content="website">
	<meta property="og:description" content="Helping make the web better for everyone alike through accessibility and performance focused development processes.">
	<meta property="og:image" content="https://william-iehl.com/assets/ogImage.jpg">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="William IEHL - Freelance Developer, Accessibility and Performance advocate">
	<meta name="twitter:description" content="Helping make the web better for everyone alike through accessibility and performance focused development processes.">
	<meta name="twitter:image" content="https://william-iehl.com/assets/ogImage.jpg">

	{% GTAG %}

	<script>// Prevent Flash Of Incorrect Theme
		{{ theme | jsmin | safe }}
	</script>

	<link rel="preload" href="/fonts/Poppins-regular.woff2" crossorigin="anonymous" as="font" type="font/woff2">
	<link rel="preload" href="/fonts/Poppins-semi-bold.woff2" crossorigin="anonymous" as="font" type="font/woff2">
	<link rel="preload" href="/fonts/Poppins-bold.woff2" crossorigin="anonymous" as="font" type="font/woff2">
	<link rel="preload" href="/fonts/Poppins-italic.woff2" crossorigin="anonymous" as="font" type="font/woff2">
	<link rel="icon" href="/assets/favicon32.png">
	<link href="/css/styles.css" rel="stylesheet">
	<title>{{ title }}</title>
</head>
<body>
	<header>
		{% include "SkipNav.njk" %}

		{% include "Navigation.njk" %}
	</header>

	{{ content | safe }}

	{% include "Footer.njk" %}

	<script>
		{{ main | jsmin | safe }}
	</script>
	<script>
		{{ flyingFocus | jsmin | safe }}
	</script>
</body>
</html>
